body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}
.container{
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    position:relative;
    
}

.images{
    height: 300px;
    width: 500px;
    
}
.image{
    height: 300px;
    width: 400px;
    box-shadow: 1px;
}
.buttons{
    margin-top: 320px;
   margin-left: 200px;
   position: absolute;
   left: 30px;
  
   
}
button{
    height: 50px;
    width: 100px;
    border-radius: 8px;
    background-color: cornflowerblue;
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    background-color: rgb(75, 171, 16);
    height: 50px;
    width: 120px;
}